.nav-list-resonsive{
    position: fixed;
    background-color: #000;
    height: 100vh;
    width: 240px;
    display: none;
}
.nav-list-resonsive.active{
    display: block;
}
/* PC*/
@media screen and (min-width: 1024px){
    
}
/* Tablet*/ 
@media screen and (min-width: 768px) and (max-width: 1023px){
    .slide-bar{
        display: none;
    }
    .right {
        width: 100%;
        /* padding: 0 129px 0 129px; */
        /* margin-left: 10%; */
        padding: 10px;
        margin-left: unset;
    }
    .btn-bars{
        display: block;
    }
    .right_logo{
    text-align: center;
    margin-top: 20px;
    display: flex;
    justify-content: space-between!important;
 }
    
}
/* Mobile */
@media screen and (max-width: 767px){
    .slide-bar{
        display: none;
    }
    .right {
        width: 100%;
        padding: 10px;
        margin-left: unset;
    }
    .btn-bars{
        display: block;
    }
    .right_logo{
    margin-top: 20px;
    display: flex;
    justify-content: space-between!important;
    }
    .right_logo img{
        width: 60%;
    }
}