
/* PC*/
@media screen and (min-width: 1024px){
   
}
/* Tablet*/ 
@media screen and (min-width: 768px) and (max-width: 1023px){
    .slide-bar{
        display: none;
    }
    .right {
        width: 100%;
        /* padding: 0 129px 0 129px; */
        /* margin-left: 10%; */
        padding: 10px;
        margin-left: unset;
    }
}
/* Mobile */
@media screen and (max-width: 767px){
    .slide-bar{
        display: none;
    }
    .right {
        width: 100%;
        padding: 10px;

        margin-left: unset;

    }
}